body{
    font-family: 'Roboto', sans-serif;
    background: #C1FFD7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C1FFD7, #FDB9FC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C1FFD7, #FDB9FC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1{
    background:#2980b9;
    color:white;
    margin: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 50px;

    text-align:center;
    font-family: Merriweather;
}
ul{
    list-style:none;
    margin: 0;
    padding: 0;
}

.fa-plus{
  float: right;
}

li{
    background: white;
    height: 40px;
    line-height:40px;
    color:#666;
}

li:nth-child(2n){
    background: #f7f7f7;
}

span{
    /* background:#e74c3c; */
    height:40px ;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
	opacity: 0;
}

li:hover span{
width: 40px;
opacity: 1.0;
}


.input{
  width:100%;
  padding:10px;
  background: none;
  font-size: 18px;
  color: #000000;
  outline:none;
  border:none;
  border-bottom: 2px solid #000000;
  margin-top: 50px;
}
.task{
  background: rgba(255, 255, 255, 0.5);
  color:#000;
  width:100%;
  padding: 18px;
  margin:6px 0;

}
.task i{
  float:right;
  margin-right: 20px;
  cursor: pointer;
}
.container{
  max-width: 800px;
  margin:auto;
  padding:10px;
  color:#000000;
}
.comp .task{
  background: rgba(0, 0, 0, .5);
  color:#000000;
}



.compeleted{
    color:gray;
    text-decoration : line-through;
}
